@page
@model HomeService.Endpoints.RazorPages.Pages.User.Expert.Profile.ChangePasswordModel
@{
    Layout = "_ExpertProfileLayout";
}

<div class="col-lg-12">
    <div class="portlet box shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    کاربران
                </h3>
            </div><!-- /.portlet-title -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">
            <div class="top-buttons-box mb-2">
            </div>
            <div class="row">
                <form enctype="multipart/form-data" id="simple-form" role="form" method="post">



                    <div class="form-body">
                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="Expert.CurrentPassword" class="form-control" type="password" placeholder="رمزعبور فعلی">
                                <span class="text-danger" asp-validation-for="Expert.CurrentPassword"></span>
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="Expert.Password" class="form-control" type="password" placeholder="رمزعبور جدید" />
                                <span class="text-danger" asp-validation-for="Expert.Password"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="Expert.Repassword" class="form-control" type="password" placeholder="تکرار رمزعبور جدید" />
                                <span class="text-danger" asp-validation-for="Expert.Repassword"></span>
                            </div>
                        </div>



                    </div>
                    <hr>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">
                            <i class="icon-check"></i>
                            ذخیره
                        </button>
                        <a asp-page="Index" class="btn btn-warning">
                            بازگشت
                        </a>
                    </div>

                    @if (Model.Results is not null)
                    {
                        <div class="form-floating mb-5">
                            @foreach (var error in @Model.Results.Errors)
                            {
                                <h1 style="text-align:center" class="text-danger">@error.Description</h1>
                            }

                        </div>
                    }


                </form>
            </div>
        </div><!-- /.portlet-body -->
    </div><!-- /.portlet -->
</div><!-- /.col-lg-12 -->