@page
@model HomeService.Endpoints.RazorPages.Pages.SubCategory.IndexModel
@{
}

<div class="row align-items-center mt-3 mb-3">

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>

     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>

     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>

     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>

     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>

     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="Goodup-img-catg-wrap">
            <div class="Goodup-img-catg-thumb text-center"><a asp-action="ServicesInCategory" asp-route-id="2"><img style="width:fit-content" src="~/Images/Category/7f3097f4-f6b7-4d68-80da-88a33a4f7616Scanitto_2024-10-10_005.jpg" class="img-fluid" alt=""></a></div>
            <div class="Goodup-img-catg-caption">
                <h4 class="fs-md mb-0 ft-medium m-catrio">تمیزکاری</h4>
                <a asp-action="ServicesInCategory" asp-route-id="2" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>


</div>
