<div id="sidebar">
    <div class="side-menu-container">
        <ul class="metismenu" id="side-menu">
            <li class="open active conditional-bg">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-home"></i>
                    <span>دیوارچه</span>
                </a>
                <ul>
                    <li>
                        <a asp-area="Admin" asp-page="/Index" class="current">
                            <i class="icon-home"></i>
                            <span>داشبورد</span>
                        </a>
                    </li>


                    <li>
                        <a asp-area="Admin" asp-page="/Users/Index" class="">
                            <i class="icon-home"></i>
                            <span>کاربران</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-page="/Category/Index" class="">
                            <i class="icon-home"></i>
                            <span>دسته بندی</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-page="/SubCategory/Index" class="">
                            <i class="icon-home"></i>
                            <span>زیر مجموعه دسته بندی ها </span>
                        </a>
                    </li>

                    <li>
                        <a asp-area="Admin" asp-page="/ServiceCategory/Index" class="">
                            <i class="icon-home"></i>
                            <span>سرویس ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-page="/Request/Index" class="">
                            <i class="icon-home"></i>
                            <span>درخواست ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-page="/Suggestion/Index" class="">
                            <i class="icon-home"></i>
                            <span>پیشنهادات</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-page="/Comment/Index" class="">
                            <i class="icon-home"></i>
                            <span>نظرات</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul><!-- /#side-menu -->
    </div><!-- /.side-menu-container -->
</div><!-- /#sidebar -->