@page
@model HomeService.Endpoints.RazorPages.Pages.User.Customer.Request.IndexModel
@{
}


@{
    Layout = "_Layout";
}



<div class="col-xl-12 col-lg-2 col-md-12 col-sm-12">
    <div class="submit-form">
        <div class="dashboard-list-wraps bg-white rounded mb-4">
            <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                <div class="dashboard-list-wraps-flx">
                    <h4 class="mb-0 ft-medium fs-md">درخواست جدید</h4>
                </div>
            </div>

            <form method="post" asp-action="CreateRequest" enctype="multipart/form-data">
                
                <div class="dashboard-list-wraps-body py-3 px-3">
                    <div class="row">

                        <input type="hidden" asp-for="Request.ServiceId" />
                       
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">


                            <div class="form-group">

                                <div class="input-group">
                                <label  class="form-label">برای چه تاریخی؟</label>
                                <input asp-for="Request.DateOfCompletion" type="date" id="calender" data-jdp class="form-control rounded" />
                                <span class="text-danger" asp-validation-for="Request.DateOfCompletion"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <label class="form-label">برای چه ساعتی؟</label>
                                    <input asp-for="Request.TimeOfCompletion" type="time" data-jdp class="form-control rounded" />
                                    <span class="text-danger" asp-validation-for="Request.TimeOfCompletion"></span>
                                </div>
                                
                        </div>
                            <div class="form-group">
                            <div class="input-group">
                                    <label class="form-label">توضیحات</label>
                                <textarea asp-for="Request.Description"  class="form-control rounded" rows="5" cols="4"></textarea>
                                 <span class="text-danger" asp-validation-for="Request.Description"></span>
                            </div>
                        </div>

                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="form-label">قیمت</label>
                                <input asp-for="Request.Price" class="form-control rounded" type="number"/>
                                <span class="text-danger" asp-validation-for="Request.Price"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="form-label" class="form-label">آپلود تصویر</label>
                            <input asp-for="Request.Images" type="file"  class="form-control" multiple />
                            <span class="text-danger" asp-validation-for="Request.Images"></span>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group p-2">
                                <button type="submit" class="btn theme-cl rounded theme-bg-light ft-medium">ثبت</button>
                            </div>
                        </div>
                    </div>
                </div>


                @if (Model.Results is not null)
                {
                    <div class="form-floating mb-5">
                        <h1 style="text-align:center" class="text-danger">@Model.Results.Message</h1>
                    </div>
                }


            </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr",
            minTime: "attr",
            maxTime: "attr",
            hideAfterChange: true,
            autoHide: true,
            showTodayBtn: true,
            showEmptyBtn: true,
            topSpace: 10,
            bottomSpace: 30,
            dayRendering(opt, input) {
                return {
                    isHollyDay: opt.day == 1
                }
            }
        });

        document.getElementById("aaa").addEventListener("jdp:change", function (e) { console.log(e) });


         $('#calender').MdPersianDateTimePicker({
            targetTextSelector: '#calender',
        });

                $(document).ready(function() {
          $(".example1").pDatepicker();
        });

    </script>
  
}
